.container.contacts-container
	.row
		.col-lg-4
			.person-image
				= image_tag "person-image.png", :class => "img-circle"
			.person-info
				%h2.name Aneta Dikaszová
				%p.phone
					%b Tel:
					+421 0903 432 234
				%p.mail
					%b Mail:
					mail@fondak.sk
		.col-lg-4
			.person-image
				= image_tag "person-image.png", :class => "img-circle"
			.person-info
				%h2.name Andrea Váňová
				%p.phone
					%b Tel:
					+421 0903 432 234
				%p.mail
					%b Mail:
					mail@fondak.sk
		.col-lg-4
			.person-image
				= image_tag "person-image.png", :class => "img-circle"
			.person-info
				%h2.name Tomáš Jančok
				%p.phone
					%b Tel:
					+421 0903 432 234
				%p.mail
					%b Mail:
					mail@fondak.sk