
#owl-demo.owl-carousel.owl-theme

	.item
		= image_tag("carousel_photos/blank.png")

	- @picked_images.each do |image|
		.item
			= image_tag("carousel_photos/#{image}.jpg", :class => "img-thumbnail")

	.item
		= image_tag("carousel_photos/blank.png")

.outer-main-container
	.container.main
		.row
			.col-xs-12.col-sm-8.col-xs-offset-3.col-sm-offset-2
				.text-main
					%p Vítame Vás na oficialnej webovej stránke hokejbalového turnaja Martinský Fonendoskop, ktorý sa každoročne uskutočňuje na pôde JLF UK. Môžte tu nájsť niečo z histórie, kontakt na organizátorov,alebo môžte prispieť svojou myšlienkou/názorom do diskusie.
					%p 18. ročník sa uskutoční 25.-26.4.2014.
					%p Tešíme sa na Vás.


.horizontal-ruler2
	%center.font-medium
		Začíname za :
.horizontal-ruler3
%center
	.countdown.styled